body { 
    font-size: 10px;
    font-family: "helvetica", sans-serif
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
    color: #333;
}

p{
    font-size: 1.6rem;
}

small {
    font-size: 1.2rem;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px;
}

.title {
    font-size: 2.4rem;
    text-align: center;
}